---
title: "Version 1"
weight: 1
aliases:
- /ref/v1
---

{{#each definitions~}}
  {{#ifCond kind "!=" "NamespaceDefinition"~}}
  ## {{ name.value }}

  {{#if description}}
  <p>
    <div style="font-style:italic">{{{description.value}}}</div>
  </p>
  {{/if}}

  {{~#withAnnotation "shortform"}}
  This type can be abbreviated with <a href="/wick/configuration/reference/v1/shortform#{{lowerCase name.value}}">shortform syntax</a>
  {{/withAnnotation}}
  {{/ifCond}}

  {{#switch kind~}}
    {{~#case "TypeDefinition"~}}{{~> type-definition~}}{{~/case~}}
    {{~#case "NamespaceDefinition"~}}{{~/case~}}
    {{~#case "EnumDefinition"~}}{{~> enum-definition~}}{{~/case~}}
    {{~#case "UnionDefinition"~}}{{> union-definition}}{{~/case~}}
    {{~#case "AliasDefinition"~}}{{> alias-definition}}{{~/case~}}
    {{~#default~}}
    ## Unhandled definition kind: {{kind}}
    {{panic .}}
    {{~/default~}}
  {{~/switch}}

--------

{{/each}}

